global
    log /dev/log local0
    log /dev/log local1 notice
    daemon

defaults
    log global
    mode tcp
    option tcplog
    option dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000

frontend kubernetes-apiserver
    bind *:8443
    mode tcp
    option tcplog
    default_backend kubernetes-master

backend kubernetes-master
    mode tcp
    option tcp-check
    balance roundrobin
    server master1 MASTER1_IP:6443 check fall 3 rise 2
    server master2 MASTER2_IP:6443 check fall 3 rise 2
    server master3 MASTER3_IP:6443 check fall 3 rise 2
